<ion-view style="" title="Levels">
    <ion-content class="has-header" padding="'true'">

      <div ng-repeat="lvl in levels">
        <a href="#/main">
          <div style="" class="list card">
              <div class="item item-divider">{{lvl.name}}</div>
              <div class="item item-body">
                  <img style="width: 100%; height: auto;"
                              src="img/ZyhxKsXQoyJXFrWuZG0w_lvl1.jpg"
                              width="100%" height="auto">
              </div>
          </div>
        </a>
      </div>

    </ion-content>
</ion-view>
