<ion-view title="Levels">
    <ion-content class="has-header" padding="'true'">

      <div ng-repeat="lvl in vm.levels">
        <a ng-href="#/levels/{{lvl.id}}">
          <div class="list card">
              <div class="item item-divider">{{lvl.name}}</div>
              <div class="item item-body">
                  <img style="width: 100%; height: auto;"
                              ng-src="{{lvl.image}}"
                              width="100%" height="auto">
              </div>
          </div>
        </a>
      </div>

    </ion-content>
</ion-view>
